TOKEN=
PREFIX=!
OWNER_ID=
CLIENT_ID=
GUILD_ID=
LOG_SERVER_ID=
ECONOMY_LOG=
VIP_LOG=
TRANSACTION_LOG=
DAILY_LOG=
BACKUP_CHANNEL_ID=
REMINDER_CHANNEL_ID=
ALLOWED_STAFF_IDS=
LEADERBOARD_CHANNEL_ID=
ANNOUNCEMENT_CHANNEL_ID=
VIP_ROLE_PRIME=
VIP_ROLE_GAMER=
VIP_PRICE_PRIME_1=
VIP_PRICE_PRIME_3=
VIP_PRICE_GAMER_1=
VIP_PRICE_GAMER_3=
